<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_pole04s_url %>" class="btn btn-default">
      <i class="fa fa-upload"></i> ფაილის ატვირთვა
    </a>
  </div>
  <h2>0.4კვ ბოძები <code><%= @poles.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), label: 'მუნიციპალიტეტი', empty: '-- ყველა მუნიციპალიტეტი --'
  s.text_field 'tp', label: 'ჯიხურის #'
  s.text_field 'direction', label: 'ხაზის მიმართულება'
  s.text_field 'number', label: 'ბოძის ნომერი'
end %>

<% if @poles.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th width="200">მუნიციპალიტეტი</th>
        <th>6-10კვ სატრ. ჯიხური</th>
        <th>0.4კვ ხაზის მიმართულება</th>
        <th>0.4კვ ბოძის #</th>
      </tr>
    </thead>
    <% @poles.each do |pole| %>
      <tr>
        <td>
          <%= link_to pole.region.name, region_url(pole.region, tab: 'pole04s') %>
        </td>
        <td>
          <%= link_to pole.tp.name, objects_tp_url(pole.tp, tab: 'pole04s') unless pole.tp.nil? %>
        </td>
        <td>
          <%= link_to pole.direction.number, objects_direction04_url(pole.direction, tab: 'pole04s')  unless pole.direction.nil? %>
        </td>
        <td><a href="<%= objects_pole04_url(pole) %>">0.4კვ ბოძი #<strong><%= pole.number %></strong></a></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @poles %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>
