<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_pole04s_url %>" class="btn btn-default">
      <i class="fa fa-upload"></i> ფაილის ატვირთვა
    </a>
  </div>
  <h2>0.4კვ ბოძები <code><%= @poles.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), label: 'მუნიციპალიტეტი', empty: '-- ყველა მუნიციპალიტეტი --'
  s.text_field 'name', label: '0.4კვ ბოძის #'
end %>

<% if @poles.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>0.4კვ ბოძის #</th>
        <th width="200">მუნიციპალიტეტი</th>
      </tr>
    </thead>
    <% @poles.each do |pole| %>
      <tr>
        <td><a href="<%= objects_pole04_url(pole) %>">0.4კვ ბოძი #<strong><%= pole.name %></strong></a></td>
        <td>
          <% if pole.region %>
            <%= link_to pole.region.name, region_url(pole.region, tab: 'poles') %>
          <% else %>
            <span class="text-muted">(მუნიციპალიტეტის გარეშე)</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @poles %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>
