<h2 class="page-header">0.4კვ ბოძი #<%= @pole.number %></h2>

<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">0.4კვ ბოძის #</td>
    <td>
      <code><%= @pole.number %></code>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ტიპი</td>
    <td><%= @pole.pole_type %></td>
  </tr>
  <tr>
    <td class="text-muted">სიმაღლე</td>
    <td><code><%= number_with_precision @pole.height, precision: 2 %></code> მეტრი</td>
  </tr>
  <tr>
    <td class="text-muted">ანკერული</td>
    <td><%= @pole.ankeruli %></td>
  </tr>
  <tr>
    <td class="text-muted">ვერტიკალური მდგომარეობა</td>
    <td>
      <%= @pole.vertical_position %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ხარისხობრივი მდგომარეობა</td>
    <td>
      <%= @pole.oldness %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ლამპიონის სამაგრი</td>
    <td><%= @pole.lampioni %></td>
  </tr>
  <tr>
    <td class="text-muted">გარე განათება</td>
    <td><%= @pole.street_light %></td>
  </tr>
  <tr>
    <td class="text-muted">ინტერნეტი</td>
    <td><%= @pole.internet %></td>
  </tr>
  <tr>
    <td class="text-muted">ტრავერსი</td>
    <td>
      <%= @pole.traverse_s %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">იზოლატორი</td>
    <td>
      <%= @pole.isolators_s %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">მრიცხველის კარადა</td>
    <td>
      <%= @pole.counters_s %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= @pole.description %></td>
  </tr>
  <tr>
    <td class="text-muted">მესაკუთრე</td>
    <td><%= @pole.owner %></td>
  </tr>
  <tr>
    <td class="text-muted">0.4კვ ხაზის მიმართულება</td>
    <td><%= link_to @pole.direction, objects_direction04_url(@pole.direction04) unless @pole.direction.nil? %></td>
  </tr>
  <tr>
    <td class="text-muted">სატრ. ჯიხური</td>
    <td><%= link_to @pole.tp.name, objects_tp_url(@pole.tp) unless @pole.tp.nil? %></td>
  </tr>
  <tr>
    <td class="text-muted">6-10კვ ფიდერი</td>
    <td><%= link_to @pole.tp.fider_name, objects_fider_url(@pole.fider) unless @pole.fider.nil? %></td>
  </tr>
  <tr>
    <td class="text-muted">ქვესადგური</td>
    <td><%= link_to @pole.substation.name, objects_substation_url(@pole.substation) unless @pole.substation.nil? %></td>
  </tr>
  <tr>
    <td class="text-muted">მუნიციპალიტეტი</td>
    <td><%= @pole.region.name unless @pole.region.nil? %></td>
  </tr>
  <tr>
    <td class="text-muted">კოორდინატები</td>
    <td>
      E: <code><%= @pole.easting %></code>,
      N: <code><%= @pole.northing %></code>
    </td>
  </tr>
</table>

<h3 class="page-header">
  0.4კვ ბოძის მდებარეობა
</h3>
<%= render partial: 'data/points_map', locals: {points: [@pole.location]} %>
