<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_tps_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2>6-10კვ სატრ. ჯიხურები <code><%= @tps.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), label: 'მუნიციპალიტეტი', empty: '-- ყველა მუნიციპალიტეტი --'
  s.text_field 'name', label: 'ჯიხურის #'
  s.text_field 'owner', label: 'მფლობელი'
end %>

<% if @tps.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th width="75" class="text-center"><i class="fa fa-image"></i></th>
        <th>სატრანსფორმატორო ჯიხური</th>
        <th width="200">მუნიციპალიტეტი</th>
      </tr>
    </thead>
    <% @tps.each do |tp| %>
      <tr>
        <td class="text-center">
          <img src="<%= tp.picture %>" style="max-height: 50px; max-width: 50px;" />
        </td>
        <td>
          <a href="<%= objects_tp_url(tp) %>">ჯიხური #<strong><%= tp.name %></strong></a>
          <% if tp.owner.present? %><code><%= tp.owner %></code><% end %>
          <span class="text-muted"><%= tp.address %></span>
        </td>
        <td>
          <%= link_to tp.region.name, region_url(tp.region, tab: 'tps') %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @tps %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>

<!-- hide images which failed to load -->
<script type="text/javascript">
  $(function() {
    $('img').error(function() {
      $(this).hide();
      $(this).parent().append('<span class="text-muted">no-image</span>');
    })
  });
</script>