<h2 class="page-header">ჯიხური #<%= @tp.name %></h2>

<div class="row">
  <div class="col-sm-8">
    <table class="table table-bordered table-hover">
      <tr>
        <td width="150" class="text-muted">ჯიხურის #</td>
        <td>ჯიხური #<code><%= @tp.name %></code></td>
      </tr>
      <tr>
        <td width="150" class="text-muted">მფლობელი</td>
        <td><code><%= @tp.owner %></code></td>
      </tr>
      <tr>
        <td class="text-muted">სიმძლავრე</td>
        <td><code><%= number_with_precision @tp.power %></code> კვტ</td>
      </tr>
      <tr>
        <td class="text-muted">ფიდერი</td>
        <td>
          <% if @tp.fider %>
            <%= link_to @tp.fider, objects_fider_url(@tp.fider, tab: 'tps') %>
          <% else %>
            <span class="text-muted">(ფიდერის გარეშე)</span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="text-muted">რაიონი</td>
        <td><%= link_to @tp.region, region_url(@tp.region, tab: 'tps') %></td>
      </tr>
      <tr>
        <td class="text-muted">მისამართი</td>
        <td><%= @tp.address %></td>
      </tr>
      <tr>
        <td class="text-muted">კოორდინატები</td>
        <td>
          E: <code><%= @tp.easting %></code>;
          N: <code><%= @tp.northing %></code>
        </td>
      </tr>
    </table>
    <table class="table table-bordered table-hover">
      <tr>
        <td width="150" class="text-muted">საშ. მოხმარება</td>
        <td><code><%= number_with_precision @tp.usage_average %></code> კვტ.სთ.</td>
      </tr>
      <tr>
        <td class="text-muted">საყოფაცხოვრებო</td>
        <td><code><%= @tp.residential_count %></code> აბონენტი</td>
      </tr>
      <tr>
        <td class="text-muted">არა საყოფაცხოვრებო</td>
        <td><code><%= @tp.comercial_count %></code> აბონენტი</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <img class="thumbnail" src="<%= @tp.picture %>" style="max-width:100%;"></img>
  </div>
</div>

<!-- hide images which failed to load -->
<script type="text/javascript">
  $(function() {
    $('img').error(function() {
      $(this).hide();
      $(this).parent().append('<p class="text-muted no-image no-image-large">no-image</p>');
    })
  });
</script>

<h3 class="page-header">
  ჯიხურის მდებარეობა
</h3>
<%= render partial: 'data/points_map', locals: { points: [ @tp.location ] } %>