<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_towers_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2>ანძები <code><%= @towers.total_entries %></code></h2>
</div>
<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), text: ->(x) { x.name }, label: 'რაიონი', empty: '-- ყველა რაიონი --'
  s.combo_field 'line', collection: Objects::Line.asc('name'), text: ->(x) { x.name }, label: 'გადამცემი ხაზი', empty: '-- ყველა ხაზი --'
  s.text_field 'name', label: 'ანძის #'
  s.text_field 'category', label: 'ანძის ტიპი'
end %>

<% if @towers.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>გადამცემი ხაზი &rarr; ანძა</th>
        <th width="200">რაიონი</th>
      </tr>
    </thead>
    <% @towers.each do |tower| %>
      <tr>
        <td>
          <% if tower.line.present?%>
            <%= link_to tower.line.name, objects_line_url(tower.line, tab: 'towers') %>
          <% else %>
            <%= tower.linename %>
          <% end %>
          &rarr;
          <strong><%= link_to "ანძა ##{tower.name}", objects_tower_url(tower) %></strong>
          <span class="text-muted"><%= tower.category %></span>
        </td>
        <td>
          <%= link_to tower.region.name, region_url(tower.region, tab: 'towers') %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @towers %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>