<div id="mapwrapper">
  <div id="mapregion"></div>
</div>

<div class="search">
  <div class="card">
    <form id="search-form">
      <input type="text" id="search-query" autofocus autocomplete="off">
      <button class="waves-effect waves-light btn btn-flat red accent-2 white-text">
        <i class="mdi-action-search"></i>

        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </button>
    </form>
  </div>

  <div class="output" id="search-output">
    <div class="card-panel small-padding">
      <div class="summary"></div>
    </div>

    <div class="card-panel no-padding">
      <div class="collection"></div>
    </div>
  </div>
</div>

<div class="layers">
  <div class="card-panel no-padding">

    <div class="regions">
      <select class="browser-default" id="search-region">
        <option value="" selected>რაიონი</option>
        <% @regions.each do |region| %>
        <option value="<%= region.id.to_s %>"><%= region.name.to_s %></option>
        <% end %>
      </select>
    </div>

    <div id="search-type" class="small-padding">
      <div>
        <input type="checkbox" checked value="office" id="checkbox-office">
        <label for="checkbox-office">ოფისი</label>
      </div>
      <div>
        <input type="checkbox" checked value="substation" id="checkbox-substation">
        <label for="checkbox-substation">ქვესადგური</label>
      </div>
      <div>
        <input type="checkbox" checked value="tower" id="checkbox-tower">
        <label for="checkbox-tower">ანძა</label>
      </div>
      <div>
        <input type="checkbox" checked value="line" id="checkbox-line">
        <label for="checkbox-line">ხაზი</label>
      </div>
      <div>
        <input type="checkbox" checked value="pole" id="checkbox-pole">
        <label for="checkbox-pole">ბოძი</label>
      </div>
      <div>
        <input type="checkbox" checked value="tp" id="checkbox-tp">
        <label for="checkbox-tp">ჯიხური</label>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "materialize" %>
<%= javascript_include_tag "client" %>
