<% fider = data %>
<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">დასახელება</td>
    <td>
      <% if fider.name.present? %>
        <%= fider.name %>
      <% else %>
        <span class="text-muted">(დასახელების გარეშე)</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= fider.description %></td>
  </tr>
  <tr>
    <td class="text-muted">რაიონი</td>
    <td>
      <% if fider.region %>
        <%= link_to fider.region.name, region_url(fider.region, tab: 'fiders') %>
      <% else %>
        <span class="text-muted">(რაიონის გარეშე)</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ხაზების რაოდ.</td>
    <td><code><%= fider.lines.count %></code> ხაზი</td>
  </tr>
  <tr>
    <td class="text-muted">სიგრძე</td>
    <td><code><%= number_with_precision fider.length %></code> კმ</td>
  </tr>
</table>

<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">საყოფაცხოვრებო</td>
    <td><code><%= number_with_precision fider.residential_count, delimiter: ',', precision: 0 %></code> აბონენტი</td>
  </tr>
  <tr>
    <td class="text-muted">არა საყოფაცხ.</td>
    <td><code><%= number_with_precision fider.comercial_count, delimiter: ',', precision: 0 %></code> აბონენტი</td>
  </tr>
  <tr>
    <td class="text-muted">საშ. მოხმარება</td>
    <td><code><%= number_with_precision fider.usage_average, delimiter: ',', precision: 0 %></code> კვტ.სთ.</td>
  </tr>
</table>

<%= render partial: '/data/paths_map', locals: { paths: fider.lines, direction: false } %>