<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_fiders_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2>ფიდერები <code><%= @fiders.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), label: 'რაიონი', empty: '-- ყველა რაიონი --'
  s.text_field 'name', label: 'დასახელება'
end %>

<% if @fiders.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ფიდერი</th>
        <th width="200">რაიონი</th>
      </tr>
    </thead>
    <% @fiders.each do |fider| %>
      <tr>
        <td>
          <strong><%= link_to fider.name, objects_fider_url(fider) %></strong> &mdash;
          <code><%= number_with_precision fider.length %></code> კმ
        </td>
        <td>
          <%= link_to fider.region.name, region_url(fider.region, tab: 'fiders') %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @fiders %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>