<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_fiders_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2>6-10კვ ფიდერები <code><%= @fiders.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), label: 'მუნიციპალიტეტი', empty: '-- ყველა მუნიციპალიტეტი --'
  s.text_field 'name', label: 'დასახელება'
end %>

<% if @fiders.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ფიდერი</th>
        <th width="200">მუნიციპალიტეტი</th>
      </tr>
    </thead>
    <% @fiders.each do |fider| %>
      <tr>
        <td>
          <strong>
            <a href="<%= objects_fider_url(fider) %>">
              <% if fider.name.present? %>
                <%= fider.name %>
              <% else %>
                <span class="text-muted">(დასახელების გარეშე)</span>
              <% end %>
            </a>
          </strong>
          &mdash;
          <code><%= number_with_precision fider.length %></code> კმ
        </td>
        <td>
          <% if fider.region %>
            <%= link_to fider.region.name, region_url(fider.region, tab: 'fiders') %>
          <% else %>
            <span class="text-muted">(მუნიციპალიტეტის გარეშე)</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @fiders %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>