<h3>მიმართულება <%= @fider.direction %> - ს/ჯ #<%= @fider.tp_name %></h3>
<table class="table table-bordered table-hover">
  <tr>
    <td width="150">მიმართულება</td>
    <td><%= @fider.direction %></td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= @fider.description %></td>
  </tr>
  <tr>
    <td class="text-muted">სატრ. ჯიხური</td>
    <td><%= @fider.tp_name %></td>
  </tr>
  <tr>
    <td class="text-muted">6-10კვ ფიდერი</td>
    <td><%= @fider.fider_name %></td>
  </tr>
  <tr>
    <td class="text-muted">ქვესადგური</td>
    <td><%= @fider.substation_name %></td>
  </tr>
  <tr>
    <td class="text-muted">მუნიციპალიტეტი</td>
    <td>
      <%= @fider.region_name %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ხაზების რაოდ.</td>
    <td><%= @fider.direction04.fider04s.size %></td>
  </tr>
  <tr>
    <td class="text-muted">სიგრძე</td>
    <td><code><%= number_with_precision @fider.length*1000 %></code> მ</td>
  </tr>
</table>
