<h3>0.4კვ ბოძი #<%= @pole.number %></h3>
<table class="table table-bordered table-hover">
  <tr>
    <td width="150">0.4კვ ბოძის #</td>
    <td>
      <code><%= @pole.number %></code>
    </td>
  </tr>
  <tr>
    <td>ტიპი</td>
    <td><%= @pole.pole_type %></td>
  </tr>
  <tr>
    <td>ანკერული</td>
    <td><%= @pole.ankeruli %></td>
  </tr>
  <tr>
    <td>ვერტიკალური მდგომარეობა</td>
    <td>
      <%= @pole.vertical_position %>
    </td>
  </tr>
  <tr>
    <td>ხარისხობრივი მდგომარეობა</td>
    <td>
      <%= @pole.oldness %>
    </td>
  </tr>
  <tr>
    <td>მესაკუთრე</td>
    <td>
      <%= @pole.owner %>
    </td>
  </tr>
  <tr>
    <td>0.4კვ ხაზის მიმართულება</td>
    <td>
      <%= @pole.direction %>
    </td>
  </tr>
  <tr>
    <td>სატრ. ჯიხური</td>
    <td>
      <%= @pole.tp_name %>
    </td>
  </tr>
  <tr>
    <td>6-10კვ ფიდერი</td>
    <td>
      <%= @pole.fider_name %>
    </td>
  </tr>
  <tr>
    <td>ქვესადგური</td>
    <td>
      <%= @pole.substation_name %>
    </td>
  </tr>
  <tr>
    <td>მუნიციპალიტეტი</td>
    <td>
      <%= @pole.region_name %>
    </td>
  </tr>
  <tr>
    <td>სიმაღლე</td>
    <td><code><%= number_with_precision @pole.height, precision: 2 %></code> მეტრი</td>
  </tr>
</table>
