<% fiders = data %>
<div>
  <h3>
    0.4კვ ხაზის მონაკვეთები <code><%= fiders.total_entries %></code>
  </h3>
  <div class="compact-pagination">
    <%= will_paginate fiders %>
  </div>
</div>
<% if fiders.any? %>
  <table class="table table-bordered table-hover">
    <% fiders.each do |fider| %>
      <tr>
        <td>
          <strong><%= link_to "მიმართულება #{fider.direction} - ს/ჯ \##{fider.tp.name}", objects_fider04_url(fider) %></strong> &mdash;
          <code><%= fider.start %></code>-<code><%= fider.end %></code>&mdash;
          <code><%= number_with_precision(fider.length * 1000, precision: 0) %></code> მ
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>