<h2 class="page-header">6-10კვ საყრდენი #<%= @pole.name %></h2>

<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">6-10კვ საყრდენის #</td>
    <td>
      6-10კვ საყრდენის #<code><%= @pole.name %></code>
      <% if @pole.number2.present? %>
        <span class="text-muted">პირობითი ნომერი: <code><%= @pole.number2 %></code></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ტიპი</td>
    <td><%= @pole.pole_type %></td>
  </tr>
  <tr>
    <td class="text-muted">სიმაღლე</td>
    <td><code><%= number_with_precision @pole.height, precision: 2 %></code> მეტრი</td>
  </tr>
  <tr>
    <td class="text-muted">ვერტიკალური მდგომარეობა</td>
    <td>
      <%= @pole.vertical_position %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ცვეთის ხარისხი</td>
    <td>
      <%= @pole.oldness %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">გამოსატანია</td>
    <td>
      <%= @pole.should_be_out %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">ტრავერსის ტიპი</td>
    <td>
      <%= @pole.isolation_type %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">იზოლატორის ტიპი</td>
    <td>
      <%= @pole.traverse_type %>
      <% if @pole.traverse_type2.present? %>
        <%= @pole.traverse_type2 %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">გამთიშველი</td>
    <td>
      <%= @pole.switch_s %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">გამთიშველის ტიპი</td>
    <td>
      <%= @pole.switch_type_s %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= @pole.description%></td>
  </tr>
  <tr>
    <td class="text-muted">ფიდერი</td>
    <td>
      <% if @pole.fider %>
        <%= link_to @pole.fider.name, objects_fider_url(@pole.fider, tab: 'poles') %>
      <% else %>
        <span class="text-muted">(ფიდერის გარეშე)</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">კოორდინატები</td>
    <td>
      E: <code><%= @pole.easting %></code>,
      N: <code><%= @pole.northing %></code>
    </td>
  </tr>
</table>

<h3 class="page-header">
  6-10კვ საყრდენის მდებარეობა
</h3>
<%= render partial: 'data/points_map', locals: { points: [ @pole.location ] } %>