<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_offices_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2><%= @title %> <code><%= @offices.total_entries %></code></h2>
</div>
<% if @offices.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ოფისი</th>
        <th>მუნიციპალიტეტი</th>
      </tr>
    </thead>
    <% @offices.each do |office| %>
      <tr>
        <td>
          <strong><%= link_to office.name, objects_office_url(office) %></strong>
          <% if office.address %>
            &mdash;
            <span class="text-muted"><%= office.address %></span>
          <% end %>
        </td>
        <td>
          <%= link_to office.region.name, region_url(office.region, tab: 'offices') if office.region %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @offices %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>