<h2 class="page-header">
  <%= @office.name %>
</h2>

<table class="table table-bordered table-strip">
  <tr>
    <td width="200" class="text-muted">დასახელება</td>
    <td><%= @office.name  %></td>
  </tr>
  <tr>
    <td class="text-muted">მისამართი</td>
    <td><%= @office.address  %></td>
  </tr>
  <tr>
    <td class="text-muted">მუნიციპალიტეტი</td>
    <td>
      <%= link_to @office.region.name, region_url(@office.region, tab: 'offices') if @office.region.present?  %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= @office.description  %></td>
  </tr>
  <tr>
    <td class="text-muted">კოორდინატები</td>
    <td>
      E: <code><%= @office.easting %></code>,
      N: <code><%= @office.northing %></code>
    </td>
  </tr>
</table>

<h3 class="page-header">
  ოფისის მდებარეობა
</h3>
<%= render partial: 'data/points_map', locals: { points: [ @office.location ] } %>