<% substation = data %>
<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">დასახელება</td>
    <td><%= @substation.name %></td>
  </tr>
  <tr>
    <td class="text-muted">ნომერი</td>
    <td>
      <% if @substation.number.present? %>
        #<code><%= @substation.number %></code>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= @substation.description %></td>
  </tr>
  <tr>
    <td class="text-muted">მუნიციპალიტეტი</td>
    <td>
      <% if @substation.region.present? %>
        <%= link_to @substation.region.name, region_url(@substation.region, tab: 'substations') %>
      <% else %>
        <span class="text-muted">მუნიციპალიტეტის გარეშე</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="text-muted">კოორდინატები</td>
    <td>
      E: <code><%= @substation.easting %></code>;
      N: <code><%= @substation.northing %></code>
    </td>
  </tr>
</table>

<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">საყოფაცხოვრებო</td>
    <td><code><%= number_with_precision @substation.residential_count, delimiter: ',', precision: 0 %></code> აბონენტი</td>
  </tr>
  <tr>
    <td class="text-muted">არა საყოფაცხ.</td>
    <td><code><%= number_with_precision @substation.comercial_count, delimiter: ',', precision: 0 %></code> აბონენტი</td>
  </tr>
  <tr>
    <td class="text-muted">საშ. მოხმარება</td>
    <td><code><%= number_with_precision @substation.usage_average, delimiter: ',', precision: 0 %></code> კვტ.სთ.</td>
  </tr>
</table>