<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_substations_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2>ქვესადგურები <code><%= @substations.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), text: ->(x){ x.name }, label: 'რაიონი', empty: '-- ყველა რაიონი --'
  s.text_field 'name', label: 'დასახელება'
end %>

<% if @substations.any? %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ქვესადგური</th>
        <th class="200">რაიონი</th>
      </tr>
    </thead>
    <% @substations.each do |sub| %>
      <tr>
        <td>
          <strong><%= link_to sub.name, objects_substation_url(sub) %></strong>
        </td>
        <td>
          <%= link_to sub.region.name, region_url(sub.region, tab: 'substations') %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @substations %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>