<h2 class="page-header"><%= @substation.name %></h2>

<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="150">დასახელება</td>
    <td><%= @substation.name %></td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td><%= @substation.description %></td>
  </tr>
  <tr>
    <td class="text-muted">რაიონი</td>
    <td><%= link_to @substation.region.name, region_url(@substation.region, tab: 'substations') %></td>
  </tr>
  <tr>
    <td class="text-muted">კოორდინატები</td>
    <td>
      E: <code><%= @substation.easting %></code>;
      N: <code><%= @substation.northing %></code>
    </td>
  </tr>
</table>

<h3 class="page-header">მდებარეობა რუკაზე</h3>
<%= render partial: '/data/points_map', locals: { points: [ @substation.location ] } %>