<style type="text/css">
  h4.page-header {
    margin: 16px 0 4px;
  }
</style>

<div>
  <p style="padding-top: 48px;" class="text-center">
    <a class="btn btn-success btn-lg" href="<%=objects_map_viewer_url%>" data-no-turbolink>
      <i class="fa fa-globe"></i> ობიექტების რუკა
    </a>
  </p>
</div>

<div>
  <div class="row">
    <div class="col-xs-4">
      <h4 class="page-header">ადმინისტრაციული</h4>
      <p>
        <%=link_to 'რაიონები', regions_url%>
        <span class="label label-info"><%= Region.count %></span>
      </p>
      <p>
        <%=link_to 'ოფისები', objects_offices_url%>
        <span class="label label-info"><%= Objects::Office.count %></span>
      </p>
    </div>
    <div class="col-xs-4">
      <h4 class="page-header">110-220 კვ</h4>
      <p>
        <%=link_to 'ქვესადგურები', objects_substations_url%>
        <span class="label label-info"><%= Objects::Substation.count %></span>
      </p>
      <p>
        <%=link_to 'გადამცემი ხაზები', objects_lines_url%>
        <span class="label label-info"><%= Objects::Line.count %></span>
      </p>
      <p>
        <%=link_to 'ანძები', objects_towers_url%>
        <span class="label label-info"><%= Objects::Tower.count %></span>
      </p>
      <p>
        <%=link_to 'ფიდერები', objects_fiders_url%>
        <span class="label label-info"><%= Objects::Fider.count %></span>
      </p>
    </div>
    <div class="col-xs-4">
      <h4 class="page-header">6-10 კვ</h4>
      <p>
        <%=link_to 'სატრ. ჯიხურები', objects_tps_url%>
        <span class="label label-info"><%= Objects::Tp.count %></span>
      </p>
      <p>
        <%=link_to '6-10კვ ბოძები', objects_poles_url%>
        <span class="label label-info"><%= Objects::Pole.count %></span>
      </p>
    </div>
  </div>
</div>

<%= render partial: 'layouts/admin' if sys_admin? %>