<div class="page-header">
  <div class="pull-right">
    <a href="<%= objects_upload_lines_url %>" class="btn btn-default"><i class="fa fa-upload"></i> ფაილის ატვირთვა</a>
  </div>
  <h2>ხაზები <code><%= @lines.total_entries %></code></h2>
</div>

<%= search_form @search do |s|
  s.combo_field 'region', collection: Region.all.asc('name'), text: ->(x) {x.name}, label: 'რაიონი', empty: '-- ყველა რაიონი --'
  s.text_field 'name', label: 'დასახელება'
  s.text_field 'direction', label: 'მიმართულება'
end %>

<% if @lines.any? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>გადამცემი ხაზი</th>
        <th width="200">რაიონი</th>
      </tr>
    </thead>
    <% @lines.each do |line| %>
      <tr>
        <td>
          <strong><%= link_to line.name, objects_line_url(line) %></strong>
          <span class="text-muted"><%= line.direction %></span> &mdash;
          <code><%= number_with_precision line.length %></code> კმ
        </td>
        <td><%= link_to line.region.name, region_url(line.region, tab: 'lines') %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @lines %>
<% else %>
  <%= render partial: '/data/no_data' %>
<% end %>