<h2 class="page-header"><%= @title %>: გადამცემი ხაზები</h2>

<% unless params[:status] == 'ok' %>
  <div class="text-muted" style="margin-bottom:16px;">
    გადამცემი ხაზების შესახებ ინფორმაცია უნდა იყოს მოცემული <code>KMZ</code>
    ან <code>XLSX</code> ფაილის სახით.
  </div>

  <%=form_tag request.url, multipart: true do%>
    <div class="form-group">
      <label>აარჩიეთ ფაილი:</label>
      <%=file_field_tag 'data'%>
    </div>
    <div>
      <button class="btn btn-primary" type="submit">შენახვა</button>
      <%=link_to 'გაუმება', objects_lines_url, class:['btn','btn-default']%>
    </div>
  <%end%>
<% else %>
  <%= render partial: 'layouts/current_jobs' %>
<% end %>

<div class="alert alert-warning" style="margin-top: 16px;">
  გადამცემი ხაზების <code>KMZ</code> ფაილის ატვირთვის შემდეგ,
  გთხოვთ ხელახლა ატვირთოთ <%= link_to 'ანძების', objects_upload_towers_url %>
  შესაბამისი <code>KMZ</code> ფაილიც!
</div>
