<% region = data %>
<table class="table table-bordered table-hover">
  <tr>
    <td class="text-muted" width="100">დასახელება</td>
    <td><%= region.name %></td>
  </tr>
  <tr>
    <td class="text-muted">შენიშვნა</td>
    <td class="text-muted"><%= region.description %></td>
  </tr>
  <tr>
    <td class="text-muted">საყოფაცხოვრებო</td>
    <td><code><%= number_with_precision region.residential_count, delimiter: ',', precision: 0 %></code> აბონენტი</td>
  </tr>
  <tr>
    <td class="text-muted">არა საყოფაცხ.</td>
    <td><code><%= number_with_precision region.comercial_count, delimiter: ',', precision: 0 %></code> აბონენტი</td>
  </tr>
  <tr>
    <td class="text-muted">საშ. მოხმარება</td>
    <td><code><%= number_with_precision region.usage_average, delimiter: ',', precision: 0 %></code> კვტ.სთ.</td>
  </tr>
</table>